
zookeeper:
    image: dnephin/docker-zookeeper:3.4.6

swarm.master:
    image: dnephin/docker-swarm:0.4.0
    entrypoint: ['sh', '-c']
    command: ['/swarm manage -H :2375 --replication --advertise $$(hostname -i):4000 zk://zookeeper:2181/']
    links: ['zookeeper']

swarm.slave:
    # This is built from ./swarm-slave/ see README.rst
    image: dind-swarm-slave
    privileged: True
    links: ['zookeeper']
    environment:
        discovery: "zk://zookeeper:2181/"
        discovery_host: "zookeeper"
