
version: 2

services:
  discovery:
    image: dnephin/docker-zookeeper:3.4.6

  swarm.master:
    image: dnephin/docker-swarm:latest
    depends_on: [discovery]
    environment:
      SWARM_DISCOVERY: "zk://discovery:2181/"

  swarm.slave:
    image: dnephin/docker-swarm-slave:latest
    depends_on: [discovery]
    privileged: True
    environment:
      SWARM_DISCOVERY: "zk://discovery:2181/"
      DOCKER_ARGS: "--storage-driver overlay"
